@charset "UFT-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-image: url("../imagens/background.webp");
    
    background-position: center;
}

#splash-screen {
    position: fixed; /* Fixa a posição na tela */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    z-index: 100;            /* Garante que fique acima de todo o resto */
    background-color: black;
}

#splash-screen img {
    max-width: 50vw;
    max-height: 50vh;
    /* Adicione estilos para sua imagem, se necessário (ex: animacoes simples) */
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.divPai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.iphone {
    justify-content: center;
    align-items: center;
    min-width: 250px;
    position: relative;
    margin-left: 20px;
    margin-top: 30px;

    img {
        width: 450px;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 16px;
        margin-left: 90px;
        height: 573px;
        width: 266px;
        background-color: black;
        overflow: hidden;
        border-radius: 28px;
    }
}

.menu {
    display: none;
}

