   * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

::-webkit-scrollbar {
        display: none;
    }

    .topo {
        top: 0;
        height: 30px;

        img {
            height: 10px;
        }
    }

    #relogio {
        display: inline-flex;
        flex-direction: column;
        padding: 10px 0px 8px 20px;
        font-size: 0.8em;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        width: 180px;
    }

    .pai {
        background-color: white;
        height: 573px;
        max-width: 266px;
        border-radius: 28px;
    }

    .meio {
        background-color: #0D1117;
        max-width: 266px;
        display: block;
        text-align: center;
        padding-bottom: 5px;

        a {
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            font-weight: bold;
            color: white;
            width: 100vw;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a:hover {
            color: with;
            background-color: red;
        }

        .link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 266px;
            background-color: black;
        
        }
    }
