@charset "UFT-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-image: url("../imagens/background.webp");
    
    background-position: center;
}

#splash-screen {
    position: fixed; /* Fixa a posição na tela */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    z-index: 100;            /* Garante que fique acima de todo o resto */
    background-color: black;
}

#splash-screen img {
    max-width: 50vw;
    max-height: 50vh;
    /* Adicione estilos para sua imagem, se necessário (ex: animacoes simples) */
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.divPai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.iphone {
    justify-content: center;
    align-items: center;
    min-width: 250px;
    position: relative;
    margin-left: 230px;
    margin-top: 130px;

    img {
        width: 450px;
    }
}

.divIframe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    

    iframe {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 132px;
        margin-left: 226px;
        height: 573px;
        max-width: 266px;
        background-color: black;
        overflow: hidden;
        border-radius: 28px;
    }
}

.menu {

    display: inline-flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 220px;
    
    

    img {
        margin: 5px;
        border-radius: 50%;
        width: 60px;
        margin-bottom: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.292);
    }

    img:hover {
        width: 65px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.547);
    }
    
}

