   * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            overflow: hidden;
        }

        .pai {
            background-image: url("/imagens/iphone-classic-1umvtnpc9fiejh9l.png");
            height: 573px;
            max-width: 266px;
            border-radius: 28px;
        }

        .topo {
            top: 0;
            height: 30px;

            img {
                height: 10px;
            }
        }

        #relogio {
            display: inline-flex;
            flex-direction: column;
            padding: 10px 0px 8px 20px;
            font-size: 0.8em;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            width: 180px;
        }

        .meio {
            height: 463px;
            padding: 20px 15px 0px 15px;
        }

        .icones {
            display: inline-block;
            height: 75px;
            width: 55px;

            img {
                width: 55px;
                border-radius: 10px;
            }

            p {
                font-family: Arial, Helvetica, sans-serif;
                color: white;
                font-size: 0.7em;
                text-align: center;
                padding-top: 4px;
            }

            a {
                text-decoration: none;
            }
        }

        .baixo {
            bottom: 0;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;

            .imgbaixo {
                padding: 12px 12px 8px 12px;
                background-color: rgba(255, 255, 255, 0.204);
                border-radius: 20px;
            }

            img {
                height: 40px;
                
            }
        }